:root {
	--primary: #6366f1;
	--black: #0f172a;
	--gray: #64748b;
	--dark-gray: #94a3b8;
	--white: #e2e8f0;

	--border-color: #334155;
	--background: #1e293b;
	--shadow-color: rgba(0, 0, 0, 0.3);
	--background-gradient: linear-gradient(135deg, #1e1b4b, #312e81);
}
